<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- Customizations in Res Partner Form -->
    <record model="ir.ui.view" id="nirva_stock_loaction_form">
        <field name="name">stock_loaction_form_customizations</field>
        <field name="model">stock.location</field>
        <field name="inherit_id" ref="stock.view_location_form"/>
        <field name="arch" type="xml">
  
          <field name="location_id" position="after">
            <field name="is_contract"/>
            <field name="warehouse_id"/>
          </field>

          <field name="is_contract" position="attributes">
                <attribute name="attrs">
                    {'invisible': [('location_id', '=', True)]}
                </attribute>
          </field>

          <field name="warehouse_id" position="attributes">
                <attribute name="attrs">
                    {'invisible': [('is_contract', '=', False)]}
                </attribute>
          </field>
  
        </field>
      </record>

</odoo>